@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12 col-md-6 d-none" id="app-dados-conta">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row" id="app-content">

</div>

@section Scripts
{
    <script src="~/js/home.js"></script>
    <script>
        pageViewModel.initApp();
    </script>
}