<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyBank.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-5.12.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-hand-holding-usd"></i> MyBank
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a id="link-extrato" class="nav-link text-light app-link-nav" aria-disabled="true">Extrato</a>
                        </li>
                        <li class="nav-item">
                            <a id="link-deposito" class="nav-link text-light app-link-nav" aria-disabled="true">Depósito</a>
                        </li>
                        <li class="nav-item">
                            <a id="link-retirada" class="nav-link text-light app-link-nav" aria-disabled="true">Retirada</a>
                        </li>
                        @*<li class="nav-item">
                            <a id="link-pagamentos" class="nav-link text-light app-link-nav" aria-disabled="true">Pagamentos</a>
                        </li>*@
                        <li class="nav-item">
                            <a id="link-acessarconta" class="nav-link text-light">Acessar Conta</a>
                        </li>
                        <li class="nav-item">
                            <a id="link-novocliente" class="nav-link text-light">Novo Cliente</a>
                        </li>
                        <li class="nav-item">
                            <a id="link-novaconta" class="nav-link text-light">Nova Conta</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - MyBank.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/axios-0.19.2/axios.min.js"></script>
    <script src="~/lib/bootbox/bootbox.all.min.js"></script>
    <script src="~/lib/bootbox/bootbox.locales.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
